#set($subject = "Lembrete de expiração de dispositivo")
#set($digest = "Device $device.name expires on $dateTool.format('yyyy-MM-dd', $expiration, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Seu dispositivo $device.name vai expirar em $dateTool.format('dd/MM/yyyy', $expiration, $locale, $timezone).
</body>
</html>
