#set($subject = "$device.name: arquivo de mídia recebido")
#set($digest = "$device.name $event.getString('media') received: $event.getString('file') at $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Dispositivo: $device.name<br>
Tipo: $event.getString('media')<br>
Arquivo: <a href="$webUrl/api/media/$device.uniqueId/$event.getString('file')">$event.getString('file')</a><br>
Hora: $dateTool.format('dd/MM/yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Link: <a href="$webUrl?eventId=$event.id">$webUrl?eventId=$event.id</a><br>
<!-- <br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a> -->
</body>
</html>
