#set($subject = "Report")
#set($digest = "Relatório agendado está pronto: $webUrl$reportUrl")
<!DOCTYPE html>
<html>
<body>
Relatório agendado está pronto:<br>
<a href="$webUrl$reportUrl">$webUrl$reportUrl</a><br>
</body>
</html>
