#set($subject = "$device.name: alerta!")
#set($alarmName = $position.getString("alarm"))
#if(    $alarmName == "general")
	#set($alarmName = "Geral")
#elseif($alarmName == "sos")
	#set($alarmName = "SOS")
#elseif($alarmName == "vibration")
	#set($alarmName = "Vibração")
#elseif($alarmName == "movement")
	#set($alarmName = "Movimento")
#elseif($alarmName == "lowspeed")
	#set($alarmName = "Velocidade Baixa")
#elseif($alarmName == "overspeed")
	#set($alarmName = "Excesso de Velocidade")
#elseif($alarmName == "fallDown")
	#set($alarmName = "Queda")
#elseif($alarmName == "lowPower")
	#set($alarmName = "Tensão Baixa")
#elseif($alarmName == "lowBattery")
	#set($alarmName = "Bateria Baixa")
#elseif($alarmName == "fault")
	#set($alarmName = "Falha")
#elseif($alarmName == "powerOff")
	#set($alarmName = "Alimentação Desligada")
#elseif($alarmName == "powerOn")
	#set($alarmName = "Alimentação Ligada")
#elseif($alarmName == "door")
	#set($alarmName = "Porta")
#elseif($alarmName == "lock")
	#set($alarmName = "Travamento")
#elseif($alarmName == "unlock")
	#set($alarmName = "Destravamento")
#elseif($alarmName == "geofence")
	#set($alarmName = "Cerca Virtual")
#elseif($alarmName == "geofenceEnter")
	#set($alarmName = "Entrada na Cerca Virtual")
#elseif($alarmName == "geofenceExit")
	#set($alarmName = "Saída da Cerca Virtual")
#elseif($alarmName == "gpsAntennaCut")
	#set($alarmName = "Antena do GPS Cortada")
#elseif($alarmName == "accident")
	#set($alarmName = "Acidente")
#elseif($alarmName == "tow")
	#set($alarmName = "Reboque")
#elseif($alarmName == "idle")
	#set($alarmName = "Ocioso")
#elseif($alarmName == "highRpm")
	#set($alarmName = "Alta Rotação")
#elseif($alarmName == "hardAcceleration")
	#set($alarmName = "Aceleração Brusca")
#elseif($alarmName == "hardBraking")
	#set($alarmName = "Frenagem Brusca")
#elseif($alarmName == "hardCornering")
	#set($alarmName = "Conversão Brusca")
#elseif($alarmName == "laneChange")
	#set($alarmName = "Mudança de Faixa")
#elseif($alarmName == "fatigueDriving")
	#set($alarmName = "Condutor Cansado")
#elseif($alarmName == "powerCut")
	#set($alarmName = "Alimentação Cortada")
#elseif($alarmName == "powerRestored")
	#set($alarmName = "Alimentação Restaurada")
#elseif($alarmName == "jamming")
	#set($alarmName = "Interferência")
#elseif($alarmName == "temperature")
	#set($alarmName = "Temperatura")
#elseif($alarmName == "parking")
	#set($alarmName = "Estacionamento")
#elseif($alarmName == "bonnet")
	#set($alarmName = "Capô")
#elseif($alarmName == "footBrake")
	#set($alarmName = "Freio Pedal")
#elseif($alarmName == "fuelLeak")
	#set($alarmName = "Vazamento de Combustível")
#elseif($alarmName == "tampering")
	#set($alarmName = "Adulteração")
#elseif($alarmName == "removing")
	#set($alarmName = "Remoção")
#end
[$device.name] alerta: $alarmName em $dateTool.format("dd/MM/YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)
