#set($subject = "$device.name: inativo")
#set($lastUpdate = $dateTool.getDate())
#set($ignore = $lastUpdate.setTime($event.getLong("lastUpdate")))
[$device.name] inativo a partir de $dateTool.format("dd/MM/YYYY HH:mm:ss", $lastUpdate, $locale, $timezone)
