#set($subject = "$device.name: mudou o motorista")
#if($driver)
#set($driverName = $driver.name)
#else
#set($driverName = $event.getString("driverUniqueId"))
#end
Motorista "$driverName" mudou em [$device.name] em $dateTool.format("dd/MM/YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)
