#set($subject = "$device.name: arquivo de mídia recebido")
Recebido $event.getString("media") de [$device.name]: $event.getString("file") em $dateTool.format("dd/MM/YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)
