#set($subject = "Lembrete de expiração de dispositivo")
<!DOCTYPE html>
<html>
<body>
Seu dispositivo $device.name vai expirar em $dateTool.format("dd/MM/YYYY", $expiration, $locale, $timezone).
</body>
</html>
